/* GLOBAL FONT */
* {
  font-family: "Inter", "SF Pro Display", "Segoe UI", sans-serif;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */
:root {
  --sky-blue: #38bdf8;
  --sky-blue-light: #e0f6ff;
  --text-dark: #1e293b;
  --card-border: #dbeafe;
}

/* FULL LAYOUT */
.auth-wrapper {
  display: flex;
  height: 100vh;
  background: #f8fbff;
}

/* LEFT SIDE */
.auth-left {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef9ff;
  border-right: 1px solid #dbeafe;
}

.left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-right: 2px solid var(--sky-blue);
}

/* RIGHT SIDE */
.auth-right {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.auth-card {
  width: 420px;
  background: white;
  padding: 45px 40px;
  border-radius: 22px;
  border: 1px solid var(--card-border);
  box-shadow: 0 10px 40px rgba(56, 189, 248, 0.25);
  text-align: center;
}

/* TITLE */
.title {
  margin-bottom: 25px;
  color: var(--text-dark);
  font-size: 30px;
  font-weight: 700;
}

/* ROLE BUTTONS */
.role-btn-container {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 25px;
}

.role-btn {
  padding: 12px 28px;
  border-radius: 12px;
  border: 2px solid var(--sky-blue);
  background: #ffffff;
  font-size: 17px;
  color: var(--sky-blue);
  font-weight: 00;
  cursor: pointer;
  transition: 0.25s ease;
}

.role-btn:hover {
  background: var(--sky-blue-light);
}

.role-btn.active {
  background: var(--sky-blue);
  color: white;
  border-color: var(--sky-blue);
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(56, 189, 248, 0.4);
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 10px;
}

.input {
  padding: 16px;
  border-radius: 14px;
  border: 1.5px solid #cbd5e1;
  background: #f9fcff;
  font-size: 17px;
  transition: 0.25s ease;
}

.input:focus {
  border-color: var(--sky-blue);
  box-shadow: 0 0 0 4px rgba(56, 189, 248, 0.25);
  outline: none;
}

/* PRIMARY BUTTON */
.btn-primary {
  padding: 15px;
  background: var(--sky-blue);
  border: none;
  color: white;
  border-radius: 14px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  margin-top: 10px;
}

.btn-primary:hover {
  background: #0ea5e9;
  box-shadow: 0 6px 16px rgba(56, 189, 248, 0.45);
}

.link {
  margin-top: 25px;
  font-size: 16px;
  color: var(--sky-blue);
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  transition: 0.25s ease;
}

.link:hover {
  text-decoration: underline;
  color: #0ea5e9;
}

